* > {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
}
.mainboard  {
    height: 1000px;
    width: 1000px;
    background-color: black;
    display: grid;
    grid-template: repeat(3,1fr)/repeat(3,1fr);
    gap: 5px;
    padding: 5px;

}
.gameboard  {
    height: 95%;
    width: 95%;
    background-color: black;
    display: grid;
    gap: 5px;
    margin: 5px;

}
.cell {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 30px;
    margin: 10px;
    font-size: xx-large;
    background-color: beige;
    border-radius: 20px;
    box-shadow: -5px 10px black;
}

.focus {
    background-color: red;
}